@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.ctn {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctn form {
  width: 670px;
  height: 400px;
  display: flex;
  justify-content: center;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  flex-wrap: wrap;
}

.ctn form h1 {
  color: rgb(209, 164, 164);
  font-weight: 500;
  margin-top: 20px;
  width: 500px;
  text-align: center;
}
.ctn form input {
  width: 290px;
  height: 40px;
  padding-left: 10px;
  outline: none;
  border: none;
  font-size: 15px;
  margin-bottom: 10px;
  background: none;
  border-bottom: 2px solid rgb(209, 164, 164);
}

.ctn form input::placeholder {
  color: rgb(209, 164, 164);
}

.ctn form #lastName,
.ctn form #mobile {
  margin-left: 20px;
}

.ctn form h4 {
  color: rgb(209, 164, 164);
  font-weight: 300;
  width: 600px;
  margin-top: 20px;
  font-size: 20px;
}

.ctn form textarea {
  background: none;
  border: none;
  border-bottom: 2px solid rgb(209, 164, 164);
  color: rgb(8, 7, 7);

  font-weight: 200;
  font-size: 15px;
  padding: 10px;
  outline: none;
  min-width: 600px;
  max-width: 600px;
  min-height: 80px;
  max-height: 80px;
}

.ctn form #button {
  border: none;
  background: #faefef;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
  color: #c4a2a2;
  width: 100px;
  padding: 0;
  margin-right: 500px;
  margin-bottom: 30px;
  transition: 0.3s;
}

.ctn form #button:hover {
  opacity: 0.7;
}
@media (max-width: 700px) {
  .ctn form {
    width: 570px;
    height: 400px;
  }

  .ctn form input {
    width: 190px;
    height: 20px;
    font-size: 12px;
  }
  .ctn form h4 {
    width: 400px;
  }
  .ctn form textarea {
    margin-bottom: 0;
    min-width: 400px;
    max-width: 400px;
    min-height: 50px;
    max-height: 50px;
  }

  .ctn form #button {
    margin-right: 300px;
    height: 30px;
  }
}
@media (max-width: 580px) {
  .ctn form {
    width: 370px;

  }
  .ctn form h1 {
    font-size: 20px;
  }
  .ctn form input {
    width: 120px;
  }
  .ctn form h4 {
    width: 200px;
    font-size: 15px;
  }
  .ctn form textarea {

    min-width: 200px;
    max-width: 200px;
    min-height: 20px;
    max-height: 20px;
  }
  .ctn form #button {
    margin-right: 200px;
   width: 90px;
  }
}
@media (max-width: 380px) {
 
  .ctn form {
    width: 250px;
height: 300px;
  }
  .ctn form input {
    width: 100px;
  }
  .ctn form #button {
    margin-right: 150px;
   width: 50px;
   font-size: 15px;
  }
  .ctn form h4 {
  
    font-size: 12px;
  }
}
