.main-home{
  height: 100%;
  width: 100wh;
  margin-top: 72px;
}
.mySwiper {
  width: 100wh;
  height: 660px;
  filter: grayscale(40%) brightness(1.2);
}
.swiper-button-prev,
.swiper-button-next {
  color: #d1a4a4;
}
.swiper-pagination-bullet-active {
  background-color: #d1a4a4;
}
.swiper-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85%;
  width: 75%;
  border-radius: 25px;
  backdrop-filter: blur(15px);
  gap: 30px;
}
.slider-content h1 {
  text-align: center;
  font-weight: 400;
  font-size: 2.6rem;
  color: #f4c8c8;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.slider-content p {
  text-align: center;
  font-weight: 200;
  font-size: 1.3rem;
  margin-bottom: 20px;
  color: #f8e0e0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.swiper-customers {
  position: relative;
}
.customers {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #fff;
  height: 70%;
  width: 50%;
  border: 2px dashed #8a053f;
  border-radius: 20px;
  padding: 10px;
}
.customers h1 {
  color: #8a053f;
  font-size: 2.4rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.customers p {
  color: #8a053f;
  font-size: 1.1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.button-65 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #d1a4a4;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-65:hover {
  background-color: hsl(0, 0%, 100%);
  color: #bd8787;
  box-shadow: rgba(0, 0, 0, 0.05) 0 5px 30px, rgba(0, 0, 0, 0.05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.35s;
}

.button-65:hover:after {
  opacity: 0.5;
}

.button-65:active {
  box-shadow: rgba(0, 0, 0, 0.1) 0 3px 6px 0, rgba(0, 0, 0, 0.1) 0 0 10px 0,
    rgba(0, 0, 0, 0.1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: 0.35s;
}

.button-65:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .button-65 {
    padding: 14px 22px;
    width: 176px;
  }
}
.btn1 {
  background-color: hsl(0, 0%, 100%);
  color: #bd8787;
}
.btn1:hover {
  background-color: #bd8787;
  color: hsl(0, 0%, 100%);
}
.btn2 {
  background-color: #8a053f;
}
.btn2:hover {
  background-color: #aa064d;
  color: #fff;
}
.services {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 100px;
  height: 550px;
  background-color: #f4e7e7;
}
.services-main {
  width: 40%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.services-main h1,
p {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.services-items {
  position: relative;
  width: 40%;
  height: 100%;
}
.items {
  background-color: #fff;
  margin-bottom: 20px;
  width: 400px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 15px;
  padding: 0px 10px;
}
.items h3,
p {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.first {
  position: absolute;
  top: 20px;
  left: 0;
  border: 2px dashed #8a053f;
}
.second {
  position: absolute;
  top: 190px;
  left: 120px;
  border: 2px dashed #ea8b8b;
}
.third {
  position: absolute;
  bottom: 20px;
  left: 250px;
  border: 2px dashed #e6c81a;
}
@media (max-width: 770px) {
  .mySwiper {

    height: 580px;
   
  }
  .slider-content h1 {
    font-size: 2.3rem;
  }
  .slider-content p {
    font-size:1rem;
  }
  .customers{
    width: 60%;
    top: 20px;
    left: 20px;
  }
  
}
@media (max-width: 610px) {
  .slider-content {
    gap: 10px;
  }
  .customers h1{
    font-size: 2rem;
  }
  .slider-content p {
    font-size:0.85rem;
  }
}
@media (max-width: 435px) {
  .mySwiper {

    height: 860px;
   
  }
  .slider-content h1 {
    font-size: 1.8rem;
  }
  .slider-content p {
    font-size:0.9rem;
  }
  .slider-content{
    height: 60%;
    width: 90%;
  }
    .customers{
      width: 80%;
  }
  .button-65 {
    height: 40px;
    padding: 5px 15px;
    font-size: 12px;
  }
}
@media (max-width: 320px) {
 
  .slider-content{
    height: 70%;
    width: 90%;
  }
    .customers{
      width: 80%;
  }
}
