.product-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.product{
    display: flex;
    justify-content: flex-start;
    align-items: center;
   height: 90%;
   gap: 30px;
   margin: 130px 50px;
   width: 90%;
   border: 1px solid;
   padding: 70px;
   position: relative;
}
.product img{
    width:350px ;
    height: 350px;

}
.text{
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}
.price{
    color: rgb(169, 168, 168);
}
.product button{
    border: none;
    border-radius: 5px;
    padding: 10px 70px;
    margin-top: 125px;
    background-color: rgb(238, 224, 224);
    position: absolute;
    right: 50px;
    bottom: 10px;
}
form h4{
    color: rgb(209, 164, 164);
    font-weight: 300;
    font-size: 20px;
    width: 80%;
    margin-top: 20px;
}
form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid rgb(209, 164, 164);;
    color: rgb(8, 7, 7);
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 100%;
    max-width:  100%;
    min-height: 50px;
    max-height: 50px;
 
}
@media (max-width: 966px) {
    .product{
        flex-direction: column;
        padding: 10px 70px 70px 70px;
      
      
    }
    .product img{
        width:100%;
        height:10%;
    
    }
}
@media (max-width: 560px) {
    .product{
       
        padding: 10px 30px 70px 30px;
      
    }
    .text{
        gap: 5px;
        font-size: 10px;
    }
    .text h3{
        font-size: 15px;
    }
    form h4{
        font-size: 15px;
    }
}
@media (max-width: 431px) {
    .product button{
        right: 10px;
        padding: 10px 20px;
            }
    form textarea{
        min-height: 20px;
    max-height: 20px;
    }
}